body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500vh;
    background-color:#26394E ;
  }

  #menu {
    height: 100%;
    position: fixed;
    background-color: #FED057;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    z-index: 999;
  }

  #menu.expanded {
    transform: translateX(0%);
    left: 0px;
  }

  .menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
    
  }

  #blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
  }

  #blob-path {
    height: 100%;
    fill:  #FED057;
  }

  .hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;  
  }

  .hamburger .line {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
  }

  .hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
  }

  .hamburger .line:nth-child(3) {
    bottom: 0;
  }

  h1 {
    position: fixed;
    right: 0;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 10px;
    
  }

  ul li {
    color: #fff;
    font-family: sans-serif;
    padding: 20px 0;
  }

  h2 {
    position: absolute;
     left: 50%;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
  }

.main {
  width: 100vw;
  height: 100vh;
  background: url('../image/sky.jpg') no-repeat center/cover;
  /* background: color image repeat position/size origin clip attachment; */
  position: relative;
}
.main img{
  width: 100%;
  /* height: 100%; */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.main div {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 12vw;
  line-height: .8;
  margin-top: 0;
  text-align: center;
}

/* 드래그 영역 커스텀 */
::selection {
  text-shadow: 0 0 6px #CEC9C9, 0 0 20px rgba(206, 201, 201, 0.42);
}
::selection {
  text-shadow: 0 0 6px #ee4c4c, 0 0 20px rgba(223, 28, 28, 0.42);
}
